html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 22px;

  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav {
    background-color: #1C9CF6;
}

.background {
    background-color: #19C3FB;
}

:root {
    --bs-body-bg: #19C3FB;
    --bs-body-font-family: 'Euclid Circular B', sans-serif;
    --bs-body-font-weight: 700;
    --bs-body-color: white;
}

::placeholder {
    color: white !important;
}

.font-small{
    font-size: 16px;
}
