@model WeatherApp.Models.SearchByCity

@{
    ViewData["Title"] = "SearchByCity";
}


<div class="container">
    <form method="post">
        <div class="container">
            <h2>Search by city name</h2>
            <div>
                <input asp-for="CityName" class="form-control" placeholder="Enter the city name" />
                <button asp-controller="Weather" asp-action="SearchByCity" class="btn btn-outline-primary">
                    Search
                </button>
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
        </div>
    </form>
    
</div>